﻿@model IEnumerable<Equipment_registry.Models.AdminViewModels.Contract>

@{

    ViewData["Title"] = "Admin";
    //Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Sopimukset</h2>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Luo uusi</button>
    </a>
</p>
<table class="table table-bordered table-hover">
    <thead class="alert-success">
        <tr>
            <th>
                Sopimustyyppi
            </th>
            <th>
                Laskutusaikaväli
            </th>
            <th>
                Hinta
            </th>
            <th>
                Vakuutusyhtiö
            </th>
            <th>
                Alkamispäivämäärä
            </th>
            <th>
                Lopetuspäivämäärä
            </th>
            <th>
                Kesto
            </th>
            <th>
                Pääkäyttäjä ID
            </th>
            <th>
                Asiakas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingInterval)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuranceCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-primary btn-sm">Muokkaa</button>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-primary btn-sm">Tiedot</button>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-danger btn-sm">Poista</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
