﻿@model Equipment_registry.Models.AdminViewModels.Contract

@{
    ViewData["Title"] = "Details";
}

<h2>Sopimuksen tiedot</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Asiakastyyppi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt>
            Laskutusaikaväli
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingInterval)
        </dd>
        <dt>
            Hinta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Vakuutusyhtiö
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany)
        </dd>
        <dt>
            Aloituspäivämäärä
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt>
            Lopetuspäivämäärä
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            Kesto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            Pääkäyttäjä ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminId)
        </dd>
        <dt>
            Asiakas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-primary">Muokkaa</button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-primary">Takaisin</button>
    </a>
</div>
