﻿@model Equipment_registry.Models.AdminViewModels.Contract

@{
    ViewData["Title"] = "Edit";
}

<h2>Muokkaa sopimusta</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <h4>Sopimustyyppi</h4>
                <input asp-for="ContractType" class="form-control" />
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Laskutusaikaväli</h4>
                <input asp-for="BillingInterval" class="form-control" />
                <span asp-validation-for="BillingInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Hinta</h4>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Vakuutusyhtiö</h4>
                <input asp-for="InsuranceCompany" class="form-control" />
                <span asp-validation-for="InsuranceCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Aloituspäivämäärä</h4>
                <input asp-for="BeginDate" class="form-control" />
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Lopetuspäivämäärä</h4>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kesto</h4>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Asiakas ID</h4>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Pääkäyttäjä ID</h4>
                <input asp-for="AdminId" class="form-control" />
                <span asp-validation-for="AdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Päivitä" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-action="Index">
    <button type="button" class="btn btn-primary">Takaisin</button>
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
