﻿
@{
    ViewData["Title"] = "Laitteiden Hallinta";
}

<div class="container">
    <h2>Vain Adminit pääsevät tänne</h2>

    <a asp-area="" asp-controller="Equipments" asp-action="Index"><button type="button" class="btn btn-primary btn-lg">Laitteiden hallinta</button></a>
    <a asp-area="" asp-controller="Contracts" asp-action="Index"><button type="button" class="btn btn-primary btn-lg">Sopimusten hallinta</button></a>
    <a asp-area="" asp-controller="Customers" asp-action="Index"><button type="button" class="btn btn-primary btn-lg">Asiakkaiden hallinta</button></a>
    <a asp-area="" asp-controller="Account" asp-action="Register"><button type="button" class="btn btn-primary btn-lg">Rekisteröi uusi käyttäjä</button></a>

</div>

