﻿@{
    ViewData["Title"] = "Tietoa";
}
<h2>@ViewData["Title"]</h2>


<blockquote>
    <p>
        Industless Oy:n visio on tuottaa kumppaneilleen kustannustehokkain ja laadukkain suojausratkaisu sisäilman osalta.

        Sisäilman puhdistustekniikan puolesta teemme jatkuvasti tiivistä yhteistyötä maailman johtavimpien suodatin- ja ilmanpuhdistinvalmistajien kanssa, jotta voimme aina tarjota puhdistustekniikan osalta kumppaneillemme oikeaa ratkaisua oikeaan tarpeeseen.

        Industless Oy käyttää sisäilman puhdistukseen vain tieteellisesti ja puolueettomasti testattuja puhdistusmenetelmiä, joissa yhdistyy puhdistustekniikan, käyttömukavuuden sekä kustannustehokkuuden parhaat puolet.

        Tuotevalikoimamme kattaa sekä mekaaniseen, että sähkösuodatukseen perustuvat ilmanpuhdistimet. Toteutamme myös ilmanpuhdistustekniikkaa mittatilaustyönä.
    </p>
    <footer>Industless OY</footer>
</blockquote>
