﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" id="frontPageCover">
    <h1><centre>Tervetuloa Industless Oy:n laiterekisteriin</centre></h1>
    <img src="~/images/bannerIndusless.png" alt="Sample Photo" />
    <br />
</div>

