﻿@model Equipment_registry.Models.AdminViewModels.Equipment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Laitteen poisto</h2>

<h3>Haluatko varmasti poistaa laitteen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Osoite
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            Kohteen nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt>
            Kohteen osoite
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt>
            Kohteen postinumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationPostalCode)
        </dd>
        <dt>
            Kaupunki
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt>
            Kohteen kontakti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationContact)
        </dd>
        <dt>
            Kontaktin puhelinnumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationContactPhone)
        </dd>
        <dt>
            Laitetyyppi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>
        <dt>
            Laitteen sarjanumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentSerialNumber)
        </dd>
        <dt>
            Kohteen osasto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationDepartment)
        </dd>
        <dt>
            Kohteen kommentti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationComment)
        </dd>
        <dt>
            Edellinen huolto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastMaintenance)
        </dd>
        <dt>
            Sisäinen kommentti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InternalComment)
        </dd>
        <dt>
            Tärkeää
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Important)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contract.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Poista" class="btn btn-danger" /> 
        <a asp-action="Index">
            <button type="button" class="btn btn-primary">Takaisin</button>
        </a>
    </form>
</div>
