﻿@model Equipment_registry.Models.AdminViewModels.Equipment

@{
    ViewData["Title"] = "Tiedot";
}

<h2>Tiedot</h2>

<div>
    <h4>Laitet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Osoite
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            Kohteen nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt>
            Kohteen osoite
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt>
            Kohteen postinumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationPostalCode)
        </dd>
        <dt>
            Kaupunki
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt>
            Kohteen kontakti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationContact)
        </dd>
        <dt>
            Kontaktin puhelinnumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationContactPhone)
        </dd>
        <dt>
            Laitetyyppi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>
        <dt>
            Laitteen sarjanumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentSerialNumber)
        </dd>
        <dt>
            Kohteen osasto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationDepartment)
        </dd>
        <dt>
            Kohteen kommentti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationComment)
        </dd>
        <dt>
            Edellinen huolto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastMaintenance)
        </dd>
        <dt>
            Sisäinen kommentti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InternalComment)
        </dd>
        <dt>
            Tärkeää
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Important)
        </dd>
        <dt>
            Sopimus ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contract.Id)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-primary">Muokkaa</button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-primary">Takaisin</button>
    </a>
</div>
