﻿@model Equipment_registry.Models.AdminViewModels.Equipment

@{
    ViewData["Title"] = "Muokkaa";
}

<h2>Muokkaa laitetta</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <h4>Nimi</h4>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Osoite</h4>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kohteen nimi</h4>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kohteen osoite</h4>
                <input asp-for="LocationAddress" class="form-control" />
                <span asp-validation-for="LocationAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kohteen postinumero</h4>
                <input asp-for="LocationPostalCode" class="form-control" />
                <span asp-validation-for="LocationPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kaupunki</h4>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kohteen kontakti</h4>
                <input asp-for="LocationContact" class="form-control" />
                <span asp-validation-for="LocationContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kohteen kontaktin puhelinnumero</h4>
                <input asp-for="LocationContactPhone" class="form-control" />
                <span asp-validation-for="LocationContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Laitetyyppi</h4>
                <input asp-for="EquipmentType" class="form-control" />
                <span asp-validation-for="EquipmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Laitteen sarjanumero</h4>
                <input asp-for="EquipmentSerialNumber" class="form-control" />
                <span asp-validation-for="EquipmentSerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kohteen yksikkö</h4>
                <input asp-for="LocationDepartment" class="form-control" />
                <span asp-validation-for="LocationDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kohteen kommentti</h4>
                <input asp-for="LocationComment" class="form-control" />
                <span asp-validation-for="LocationComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Viimeinen huolto</h4>
                <input asp-for="LastMaintenance" class="form-control" />
                <span asp-validation-for="LastMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Sisäinen kommentti</h4>
                <input asp-for="InternalComment" class="form-control" />
                <span asp-validation-for="InternalComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Tärkeää</h4>
                <input asp-for="Important" class="form-control" />
                <span asp-validation-for="Important" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Sopimus Id</h4>
                <label asp-for="ContractId" class="control-label"></label>
                <select asp-for="ContractId" class="form-control" asp-items="ViewBag.ContractId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-primary">Takaisin</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
