﻿@model IEnumerable<Equipment_registry.Models.AdminViewModels.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h2>Laitteet</h2>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Luo uusi</button>
    </a>
</p>
<table class="table table-bordered table-hover">
    <thead class="alert-success">
        <tr>
                <th>
                    Nimi
                </th>
                <th>
                    Osoite
                </th>
                <th>
                    Kohteen nimi
                </th>
                <th>
                    Kohteen osoite
                </th>
                <th>
                    Kohteen postinumero
                </th>
                <th>
                    Kaupunki
                </th>
                <th>
                    Kohteen kontakti
                </th>
                <th>
                    Kontaktin puhelinnumero
                </th>
                <th>
                    Laitetyyppi
                </th>
                <th>
                    Laitteensarjanumero
                </th>
                <th>
                    Kohteen osasto
                </th>
                <th>
                    Kohteen kommentti
                </th>
                <th>
                    Edellinen huolto
                </th>
                <th>
                    Sisäinen kommentti
                </th>
                <th>
                    Tärkeää
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentSerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMaintenance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Important)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <button type="button" class="btn btn-primary btn-sm">Muokkaa</button>
                </a> 
                <a asp-action="Details" asp-route-id="@item.Id">
                    <button type="button" class="btn btn-primary btn-sm">Tiedot</button>
                </a> 
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <button type="button" class="btn btn-danger btn-sm">Poista</button>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
