@using Microsoft.AspNetCore.Identity
@using WebApplication2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Equipments" asp-action="Index">Laitteiden hallinta</a></li>
            <li><a asp-area="" asp-controller="Contracts" asp-action="Index">Sopimukset</a></li>
            <li><a asp-area="" asp-controller="Customers" asp-action="Index">Asiakkaat</a></li>
        </ul>
    }

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hei @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Kirjaudu ulos</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Kirjaudu</a></li>
    </ul>
}
