﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Rekisteröityminen";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Uuden käyttäjän lisääminen</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <h4>Sähköposti</h4>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Salasana</h4>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Varmista salasana</h4>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Admin",
                        Value = "Admin"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "User",
                        Value = "User",
                        Selected = true
                    });
                }
                @Html.DropDownList("UserType", listItems, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Rekisteröi</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
