﻿@model Equipment_registry.Models.AdminViewModels.Customer

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Luo uusi asiakas</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h4>Asiakastyyppi</h4>
                <input asp-for="ClientType" class="form-control" />
                <span asp-validation-for="ClientType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Laskutusosoite 1</h4>
                <input asp-for="BillingAddressLine1" class="form-control" />
                <span asp-validation-for="BillingAddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Laskutusosoite 2</h4>
                <input asp-for="BillingAddressLine2" class="form-control" />
                <span asp-validation-for="BillingAddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Laskutusosoite 3</h4>
                <input asp-for="BillingAddressLine3" class="form-control" />
                <span asp-validation-for="BillingAddressLine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Postinumero</h4>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Kaupunki</h4>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Oletuslaskutusosoite</h4>
                <input asp-for="DefaultBillingAddress" class="form-control" />
                <span asp-validation-for="DefaultBillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>IBAN</h4>
                <input asp-for="IBAN" class="form-control" />
                <span asp-validation-for="IBAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Pankki</h4>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Puhelinnumero</h4>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Käyttäjänimi</h4>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <!--
                 <div class="form-group">
        <label asp-for="ApplicationUser.Email" class="control-label"></label>
        <input asp-for="ApplicationUser.Email" class="form-control" />
        <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
    </div>
    -->

            <div class="form-group">
                <input type="submit" value="Luo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-primary">Takaisin</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
