﻿@model Equipment_registry.Models.AdminViewModels.Customer

@{
    ViewData["Title"] = "Delete";
}

<h2>Poisto</h2>

<h3>Haluatko varmasti poistaa asiakkaan?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Asiakastyyppi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientType)
        </dd>
        <dt>
            Laskutusosoite 1
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressLine1)
        </dd>
        <dt>
            Laskutusosoite 2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressLine2)
        </dd>
        <dt>
            Laskutusosoite 3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressLine3)
        </dd>
        <dt>
            Postinumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            Kaupunki
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            Oletuslaskutusosoite
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultBillingAddress)
        </dd>
        <dt>
            IBAN
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt>
            Pankki
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt>
            Puhelinnumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Käyttäjänimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Poista" class="btn btn-danger" />
        <a asp-action="Index">
            <button type="button" class="btn btn-primary">Takaisin</button>
        </a>
    </form>
</div>
