﻿@model Equipment_registry.Models.AdminViewModels.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Asiakkaan tiedot</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Asiakastyyppi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientType)
        </dd>
        <dt>
            Laskutusosoite 1
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressLine1)
        </dd>
        <dt>
            Laskutusosoite 2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressLine2)
        </dd>
        <dt>
            Laskutusosoite 3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillingAddressLine3)
        </dd>
        <dt>
            Postinumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            Kaupunki
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            Oletuslaskutusosoite
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultBillingAddress)
        </dd>
        <dt>
            IBAN
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt>
            Pankki
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt>
            Puhelinnumero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Käyttäjänimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-primary">Muokkaa</button>
    </a>
    <a asp-action="Index">
        <button type="button" class="btn btn-primary">Takaisin</button>
    </a>
</div>
