﻿@model IEnumerable<Equipment_registry.Models.AdminViewModels.Customer>

@{

    ViewData["Title"] = "Index";
    //Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Asiakkaat</h2>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Luo uusi asiakas</button>
    </a>
</p>
<table class="table table-bordered table-hover">
    <thead class="alert-success">
        <tr>
            <th>
                Asiakastyyppi
            </th>
            <th>
                Laskutusosoite 1
            </th>
            <th>
                Laskutusosoite 2
            </th>
            <th>
                Laskutusosoite 3
            </th>
            <th>
                Postinumero
            </th>
            <th>
                Kaupunki
            </th>
            <th>
                Oletus laskutusosoite
            </th>
            <th>
                IBAN
            </th>
            <th>
                Pankki
            </th>
            <th>
                Puhelinnumero
            </th>
            <th>
                Käyttäjänimi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingAddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingAddressLine2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingAddressLine3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultBillingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IBAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-primary btn-sm">Muokkaa</button>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-primary btn-sm">Tiedot</button>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-danger btn-sm">Poista</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
